---
import Base from '../../layouts/Base.astro';
const title = 'Blog'
const path = '~/blog'
const command = 'cat index'
---
<Base title={title} rootPath={path} command={command}>
    <p>I'm trying to find myself and communicate my ideas better.</p>
    <p>My goal here is to start writing down everything I learn and what interests me, even if no one reads me.</p>
</Base>