html {
    background-color: #232222;
    color: #D8D8D8;
    font-family: "JetBrains Mono", monospace;
}

body {
    padding-bottom: 0.25rem;
    min-width: 300px;
    font-size: clamp(1rem, 0.75rem + 1vw, 1.5rem);
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #D8D8D8;
}

.prompt-text {
    color: #37B608;
}

header {
    position: relative;
}

a {
    color: #D8D8D8;
}

.header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header-text {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: block;
    color: #37B608;
    font-size: clamp(1.5rem, 1.25rem + 1vw, 2.5rem);
}

.menu-button {
    color: #D8D8D8;
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}

.nav-links {
    width: 100%;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #D8D8D8;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: #343333;
}

:has(.menu-button[aria-expanded="true"]) .nav-links {
    display: unset;
}

@media screen and (min-width: 768px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .menu-button {
        display: none;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    font-size: clamp(0.75rem, 0.75rem + 1vw, 1rem);
}

.footer-container {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
