---
import Base from '../layouts/Base.astro';
const title = 'Home'
---
<Base title={title}>
    <p>Hi, I'm Alejandro.</p>
    <p>I like technology, math, and video games, although I don't take anything too seriously.</p>
    <p>I dream a lot but do little. I'm a low-key person, not very interesting.</p>
</Base>