---

---
<footer>
    <hr class="divider" />
    <div class="footer-container">
        <span>2025 Alejandro Herrera</span>
        <span>Font: <a href="https://www.jetbrains.com/lp/mono/">Jetbrains Mono</a></span>
        <span>Icons: <a href="https://lucide.dev/">Lucide</a></span>
    </div>
</footer>