---

---
<footer>
    <hr class="divider" />
    <p>2025 Alejandro Herrera</p>
    <p>Font: <a href="https://www.jetbrains.com/lp/mono/">Jetbrains Mono</a></p>
    <p>Icons: <a href="https://lucide.dev/">Lucide</a></p>
</footer>