---
import { Menu } from '@lucide/astro';
---
<header>
    <button class="menu-button">
        <Menu />
    </button>
    <div class="header-container">
        <span class="header-text">guyo14@me:~$</span>
        <hr class="divider" />
    </div>
</header>